.Header{
    height: 75px;
    border-bottom: 1px solid red;
    margin-bottom: 1px;
    margin-left: 0px;
    ul li{
        display: flex;
        flex-wrap: wrap;
        padding: 0px 50px 0px 25px;
        font: bold 23px "Times new Roman";
    }
    
    ul li:hover{
        color: red;
        cursor: pointer;
    }
}
